$darkCyan: hsl(185, 75%, 39%);
$boldFont: hsl(229, 23%, 23%);
$lightFont: hsl(227, 10%, 46%);

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: $darkCyan;
  background-repeat: no-repeat;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-size: 75%;
  background-position: top -600px left -300px, bottom -600px right -300px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  .basic .extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.location {
  color: $lightFont;
  font-size: 14px;
  font-weight: 400;
}

.age {
  color: $lightFont;
  font-size: 14px;
  font-weight: 400;
}

.label {
  color: $lightFont;
  font-size: 14px;
  font-weight: 400;
}

.num {
  color: $boldFont;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $boldFont;
}

.attribution {
  font-size: 11px;
  text-align: center;
  .a {
    color: hsl(228, 45%, 44%);
  }
}
